@model Ekinci.CMS.Business.Models.Requests.TechnicalServiceStaffRequests.UpdateTechnicalServiceStaffRequest
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}
<div class=" flex-column " id="kt_wrapper">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h3 class="card-title">Proje</h3>
                                <div class="card-toolbar">
                                    <input type="submit" class="btn btn-success btn-hover-rotate-end" value="OLUŞTUR">&nbsp;
                                    <a href="@Url.Action("Index","TechnicalServiceStaff")" class="btn btn-danger btn-hover-rotate-start">GERİ DÖN</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 mb-5">
                                        <input asp-for="ID" type="hidden" class="form-control" aria-describedby="basic-addon1" />
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    </div>
                                    <div class="col-md-4 mb-5">
                                        <label asp-for="TechnicalServiceNameID" class="control-label">@_localizer["StatusID"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-check-double"></i>
                                            </span>
                                            <select asp-for="TechnicalServiceNameID" class="form-control" asp-items="ViewBag.TechnicalServiceNameID" selected></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["FullName"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="FullName" class="form-control" />
                                            <span class="fv-plugins-message-container invalid-feedback" asp-validation-for="FullName"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-5">
                                        <label class="control-label">@_localizer["MobilePhone"]</label>
                                        <div class="input-group form-group mb-5">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa-solid fa-align-justify"></i>
                                            </span>
                                            <input asp-for="MobilePhone" class="form-control" />
                                            <span asp-validation-for="MobilePhone" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}