<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/img/favicon.svg" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="bg-body">
    <div class="d-flex flex-column flex-root">
        <partial name="_MessageBox" />
    </div>
        @RenderBody()
        <script>var hostUrl = "assets/";</script>
        <script src="~/assets/plugins/global/plugins.bundle.js"></script>
        <script src="~/assets/js/scripts.bundle.js"></script>
        <script src="~/assets/js/custom/authentication/sign-in/general.js"></script>
    @await RenderSectionAsync("scripts", false);
</body>
</html>