@model Ekinci.CMS.Business.Models.Responses.IntroResponses.GetIntroResponse

<div class="">
    <div class=" flex-column " id="kt_wrapper">
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <div class="post d-flex flex-column-fluid" id="kt_post">
                <div id="kt_content_container" class="container-xxl">
                    <div class="card mb-5 mb-xl-10">
                        <div class="card-body pt-9 pb-0">
                            <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                            </div>
                            <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder">
                                <li class="nav-item mt-2">
                                    <a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="#">Genel Bilgi</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                        <div class="cursor-pointer">
                            <div class="card-header">
                                <h3 class="card-title">BİZ KİMİZ?</h3>
                                <div class="card-toolbar">
                                    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-success align-self-center">DÜZENLE</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-9">
                            <div class="row mb-7">
                                <label class="col-lg-4 fw-bold text-muted">Başlık</label>
                                <div class="col-lg-8">
                                    <span class="fw-bolder fs-6 text-gray-800">@Model.Title</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-9">
                            <div class="row mb-7">
                                <label class="col-lg-4 fw-bold text-muted">Açıklama</label>
                                <div class="col-lg-8">
                                    <span class="fw-bolder fs-6 text-gray-800">@Model.Description</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>